<div fxLayout="column" fxLayoutAlign="start center">
  <h2>My Heroes</h2>
  <mat-paginator 
    [length]="totalItems"
    [pageSize]="itemsPerPage"
    (page)="pageChanged($event)"
    hidePageSize
    showFirstLastButtons></mat-paginator>
</div>
<div fxLayout fxLayoutAlign="center start">
<mat-grid-list [cols]="cols | async" gutterSize="5px"
    fxFlex.xs="400px"
    fxFlex.sm="600px"
    fxFlex.md="960px"
    fxFlex.gt-md="1280px"
    rowHeight="310px">
  <mat-grid-tile *ngFor="let hero of heroes">
    <mat-card fxLayout="column" fxLayoutGap="10px" matTooltip="{{ hero.description }}">
      <img mat-card-image src="{{ hero.thumbnail.path }}.{{ hero.thumbnail.extension }}">
      <mat-card-header>
        <mat-card-title>Name: {{ hero.name }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>